= bootstrap_form_for @folder do |f|
  = f.text_field :path
  = f.collection_select(:security_level_id, SecurityLevel.all, :id, :name, :label => 'Уровень секретности', :include_blank => true)
  = f.submit 'Обновить'