table.table.table-hover
  thead
    th Путь
    th Уровень секретности
    th colspan='2' Действия
  tbody
    - @folders.each do |folder|
      tr
        td = link_to folder.path, folder_path(folder.id)
        td = folder.security_level.name
        td = link_to 'Редактировать', edit_folder_path(folder.id)
        - if current_user.can_remove?(folder.security_level.lvl)
          td = link_to 'Удалить', folder_path(folder.id), method: :delete
