= bootstrap_form_tag url: create_file_copy_folder_path do |f|
  = f.collection_select(:new_folder_id, Folder.list(@current_folder.id, current_user), :id, :path, :label => 'Папки', :include_blank => true)
  = f.hidden_field :old_folder_id, value: @current_folder.id
  = f.hidden_field :file_path, value: params[:file_path]
  = f.submit 'Скопировать'
