table.table.table-hover
  thead
    th Файл
    th colspan='2' Действия
  tbody
    - @files.each do |file|
      tr
        td = file.split('/').last
        td = link_to 'Копировать', new_file_copy_folder_path(file_path: file)
        - if current_user.can_remove?(@folder.security_level.lvl)
          td = link_to 'Удалить', destroy_file_folder_path(file_path: file, current_folder_id: params[:id]), method: :post
