ul.nav.nav-pills
  li
    a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
      | Директории <span class="caret"></span>
    ul class="dropdown-menu"
      li = link_to 'Список', folders_path
      li = link_to 'Добавить', new_folder_path
  li
    a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
      | Пользователи <span class="caret"></span>
    ul class="dropdown-menu"
      li = link_to 'Список', users_path
  li
    a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
      | Роли <span class="caret"></span>
    ul class="dropdown-menu"
      li = link_to 'Список', roles_path
      li = link_to 'Добавить', new_role_path
  li
    a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
      | Разрешения <span class="caret"></span>
    ul class="dropdown-menu"
      li = link_to 'Список', permissions_path
      li = link_to 'Добавить', new_permission_path
  li
    a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
      | Уровни секретности <span class="caret"></span>
    ul class="dropdown-menu"
      li = link_to 'Список', security_levels_path
      li = link_to 'Добавить', new_security_level_path
  li.right
    - if current_user
      = link_to current_user.email, destroy_user_session_path, method: :delete
    - else
      = link_to 'Войти', new_user_session_path
