table.table.table-hover
  thead
    th Email
    th Роли
    th colspan='2' Действия
  tbody
    - @users.each do |user|
      tr
        td = user.email
        td = (user.roles.map { |role| (link_to role.name, edit_role_path(role.id)) }).join(', ').html_safe
        td = link_to 'Редактировать', edit_user_path(user.id)
        td = link_to 'Удалить', user_path(user.id), method: :delete
