table.table.table-hover
  thead
    th Название
    th Уровень секретности
    th colspan='2' Действия
  tbody
    - @security_levels.each do |security_level|
      tr
        td = security_level.name
        td = security_level.lvl
        td = link_to 'Редактировать', edit_security_level_path(security_level.id)
        td = link_to 'Удалить', security_level_path(security_level.id), method: :delete
