table.table.table-hover
  thead
    th Название
    th Уровень секретности
    th Чтение
    th Копирование
    th Удаление
    th colspan='2' Действия
  tbody
    - @permissions.each do |permission|
      tr
        td = permission.name
        td = permission.security_level.name
        td = permission.show
        td = permission.copy
        td = permission.remove
        td = link_to 'Редактировать', edit_permission_path(permission.id)
        td = link_to 'Удалить', permission_path(permission.id), method: :delete
