= bootstrap_form_for @permission do |f|
  = f.text_field :name
  = f.collection_select(:security_level_id, SecurityLevel.all, :id, :name, :label => 'Уровень секретности', :include_blank => true)
  .row
    .col-xs-3 = f.check_box :show
    .col-xs-3 = f.check_box :copy
    .col-xs-3 = f.check_box :remove
  = f.submit 'Создать'
