table.table.table-hover
  thead
    th Название
    th colspan='2' Действия
  tbody
    - @roles.each do |role|
      tr
        td = role.name
        td = link_to 'Редактировать', edit_role_path(role.id)
        td = link_to 'Удалить', role_path(role.id), method: :delete
