doctype html
html
  head
    title MBKS
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  body
    = render 'partials/navigation'
    - if flash.present?
      - flash.each do |name, msg|
        - klass = name == 'alert' ? 'alert-danger' : 'alert-success'
        = content_tag :div, class: "alert #{klass} alert-dismissible mb-10"
          button type="button" class="close" data-dismiss="alert" aria-label="Close"
            span aria-hidden="true"
              | &times
          = msg
    == yield
